@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
} 
body{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background : linear-gradient(45 deg,
    #0a0a0a ,#edeff2);
    background-color: #3e3545;
}
.calculator{
    border: 1px solid #373839;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow:  0px 3px 15px rgba(10, 139, 244, 0.938);
}
input{
    width:320px;
    border:none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align:right;
    cursor: pointer;
    color: #fff;
}
input::placeholder{
    color:#e3dada;

}
button{
    border: none;
    width:60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(246, 246, 249, 0.1);
    cursor: pointer;
}
.equalBtn{
    background-color: #fb7c14;
}
.operator{
    color:green;
}
